* {
	margin: 0;
	padding: 0;
}

body,
html {
	--backgroundColor: #4c7f7f;
	--mainColor: #111720;

	background-color: var(--backgroundColor);
	font-family: Consolas, 'Courier New', monospace;
	color: var(--mainColor);

	height: 100%;
}

#bg {
	position: fixed;
	height: 100%;
	width: 100%;
}

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-content: space-evenly;

	min-height: 100%;
}

header {
	margin: 40px;
	font-size: 1rem;
	text-align: center;
}

.me {
	display: flex;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid var(--mainColor);
}

footer {
	margin: 40px;
	text-align: center;
}