html {
  box-sizing: border-box;
}

body {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  color: var(--sl-color-gray-25);
  line-height: var(--sl-line-height-normal);

  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
}

:root {
  --sl-color-primary-hue: 180;
  --sl-color-primary-saturation: 20%;
}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-evenly;

  min-height: 100%;
}

.me {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid var(--sl-color-primary-50);
  box-shadow: var(--sl-focus-ring-box-shadow);
}

footer {
  margin: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.actions {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.toast-wrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
