
@-webkit-keyframes spin-left {
    from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin-left {
    from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin-left {
    from { -ms-transform: rotate(0deg); }
to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin-left {
    from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}
@keyframes spin-left {
    from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

@-webkit-keyframes spin-right {
    from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(-360deg); }
}
@-moz-keyframes spin-right {
    from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(-360deg); }
}
@-ms-keyframes spin-right {
    from { -ms-transform: rotate(0deg); }
to { -ms-transform: rotate(-360deg); }
}
@-o-keyframes spin-right {
    from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(-360deg); }
}
@keyframes spin-right {
    from { transform: rotate(0deg); }
to { transform: rotate(-360deg); }
}
.animatedlogo{
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
    position: relative;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.animatedlogo span {
    color: #026383;
    text-shadow: #6F0101 2px 2px;
    font-size: 3em;
    line-height: 2.6em;

    font-family: 'Rye', cursive;
}

.animatedlogo .logo {
    display: block;
    position: absolute;
    background: transparent;
    height: 100px;
    width: 100px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-image: url('../images/logo/vintage_logo.png');
}
.animatedlogo .circle{
    display: block;
    position: absolute;
    background: transparent;

    border: 10px #666 double;

    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}
.animatedlogo .outer.circle{
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    border: none;
    background-image: url('../images/logo/vintage_out.png');

    -webkit-animation: spin-left 40s infinite linear;
    -moz-animation: spin-left 40s infinite linear;
    -ms-animation: spin-left 40s infinite linear;
    -o-animation: spin-left 40s infinite linear;
    animation: spin-left 40s infinite linear;
}
.animatedlogo .inner.circle{
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    color: #ddd;
    border: 5px #666 dotted;

    border: none;
    background-image: url('../images/logo/vintage_in.png');

    -webkit-animation: spin-right 40s infinite linear;
    -moz-animation: spin-right 40s infinite linear;
    -ms-animation: spin-right 40s infinite linear;
    -o-animation: spin-right 40s infinite linear;
    animation: spin-right 40s infinite linear;
}
