html,
body {
  overflow: hidden;
}

header {
  position: relative;
  margin-top: 10em;
  justify-content: center;
}

h1 {
  z-index: 50;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 5.2em;

  letter-spacing: -7px;
  transform: rotate(-10deg) skew(-20deg);
  animation: glow 2.5s linear infinite;

  color: transparent;
  text-stroke: 2px #bc1974;
  -webkit-text-stroke: 2px #bc1974;
}

.triangle {
  z-index: 0;
  position: absolute;
  margin: auto;
  left: 40px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 150px solid rgba(12, 6, 42, 0.5);
  transform: rotate(15deg) translate(-20px, -10px);
}

#audio-toggle {
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 6px #cf33d9) drop-shadow(0 0 6px #cf33d9);
  }
  50% {
    filter: drop-shadow(0 0 1px #cf33d9) drop-shadow(0 0 1px #cf33d9);
  }
  100% {
    filter: drop-shadow(0 0 6px #cf33d9) drop-shadow(0 0 6px #cf33d9);
  }
}

@media only screen and (max-height: 700px) {
  header {
    margin-top: 2em;
  }
}
